
{% block body %}
{{form_start(form, {attr:{id: 'form'}})  }}

<p id="error"></p>


{{form_row(form.name)}}
{{form_row(form.avatar)}}


<button type="submit">Créer </button>
{{form_end(form)}}
{% endblock %}