{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1 class="title">Liste des catégories</h1>

{% for category in categories %}
 <section class="thibzee">
<div class ="container">

<p class="category_title">{{ category.name}}</p>
<hr>
<img class="img-thumbnail" src="{{ asset('assets/images/avatars/' ~ category.avatar) }}" alt="Avatar">
<a href="{{ path('showcategory', {id:category.id})}}">Voir la tâche</a>

</div>
</section>
{% endfor %}
{% endblock %}
