
{% block body %}
{{form_start(form, {attr:{id: 'form'}})  }}

<p id="error"></p>

<div class="retle" id="retle">
{{form_row(form.title)}}
</div>

<div class="content" id="content">
{{form_row(form.content)}}
</div>

<button type="submit">Créer </button>
{{form_end(form)}}
{% endblock %}